/* Default */
.accordion {
  display: block;
  width: 100%;
}

.accordion-input {
  display: none;
}

.accordion-label {
  display: block;
  background-color: #f3f5f8;
  border: 1px solid #f3f5f8;
  border-radius: 4px;
  padding: 12px 16px;
  color: #34383c;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 8px;
}

.accordion-label-icon {
  font-style: normal;
}

.accordion-label-icon:before {
  float: left;
  width: 24px;
  content: '+';
  color: currentColor;
  font-weight: 400;
  font-size: 125%;
  line-height: 1;
}

.accordion-input:checked + .accordion-label .accordion-label-icon:before {
  content: '–';
}

.accordion-input:checked + .accordion-label {
  background-color: #ffffff;
  border-color: #dce8fa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}

.accordion-body {
  display: none;
  padding: 0 16px 16px 40px;
  border: 1px solid #dce8fa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.accordion-body > * {
  margin: 0 0 16px;
}

.accordion-body > *:last-child {
  margin-bottom: 0;
}

.accordion-input:checked + .accordion-label + .accordion-body {
  display: block;
  margin-bottom: 8px;
}
