/**
 * GRID
 */

/* Default */
.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  overflow: hidden;
}

.grid:before,
.grid:after,
.grid [class^="grid-"],
.grid [class*=" grid-"],
.grid [class^="grid-"]:before,
.grid [class*=" grid-"]:before,
.grid [class^="grid-"]:after,
.grid [class*=" grid-"]:after {
  box-sizing: inherit;
}

.grid-row {
  margin-left: -12px;
  margin-right: -12px;
}

/* Clear floats */
.grid-row:before,
.grid-row:after {
  display: table;
  content: " ";
}

.grid-row:after {
  clear: both;
}

[class^="grid-col-"],
[class*=" grid-col-"] {
  position: relative;
  float: left;
  padding-right: 12px;
  padding-left: 12px;
  min-height: 1px;
  width: 100%;
}

/* Remove space between `.col-*` elements with `.no-gutter` class */
.grid-row.grid-gapless {
  margin-left: 0;
  margin-right: 0;
}

.grid-row.grid-gapless [class^="grid-col-"] {
  padding-left: 0;
  padding-right: 0;
}

/* Column widths */
.grid-col-1  { width: 8.333%;  }
.grid-col-2  { width: 16.666%; }
.grid-col-3  { width: 25%;     }
.grid-col-4  { width: 33.333%; }
.grid-col-5  { width: 41.666%; }
.grid-col-6  { width: 50%;     }
.grid-col-7  { width: 58.333%; }
.grid-col-8  { width: 66.666%; }
.grid-col-9  { width: 75%;     }
.grid-col-10 { width: 83.333%; }
.grid-col-11 { width: 91.666%; }
.grid-col-12 { width: 100%;    }

/* Push & pull */
.grid-push-1  { left: 8.333%;  }
.grid-push-2  { left: 16.666%; }
.grid-push-3  { left: 25%;     }
.grid-push-4  { left: 33.333%; }
.grid-push-5  { left: 41.666%; }
.grid-push-6  { left: 50%;     }
.grid-push-7  { left: 58.333%; }
.grid-push-8  { left: 66.666%; }
.grid-push-9  { left: 75%;     }
.grid-push-10 { left: 83.333%; }
.grid-push-11 { left: 91.666%; }
.grid-push-12 { left: 100%;    }

.grid-pull-1  { right: 8.333%;  }
.grid-pull-2  { right: 16.666%; }
.grid-pull-3  { right: 25%;     }
.grid-pull-4  { right: 33.333%; }
.grid-pull-5  { right: 41.666%; }
.grid-pull-6  { right: 50%;     }
.grid-pull-7  { right: 58.333%; }
.grid-pull-8  { right: 66.666%; }
.grid-pull-9  { right: 75%;     }
.grid-pull-10 { right: 83.333%; }
.grid-pull-11 { right: 91.666%; }
.grid-pull-12 { right: 100%;    }
