/**
 * LIST
 */

/* Unstyled */
.list-unstyled,
.list-unstyled ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

/* Inline */
.list-inline {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  margin-left: 8px;
}

.list-inline li:first-child {
  margin-left: 0;
}
