/**
 * LIST
 */

/* Unstyled */
.list-unstyled,
.list-unstyled ol,
.list-unstyled ul {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li,
.list-unstyled dd {
  margin-left: 0;
}

/* Inline */
.list-inline {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.list-inline dt,
.list-inline dd,
.list-inline li {
  display: inline-block;
}

.list-inline dt {
  margin-right: 4px;
}

.list-inline dd {
  margin-left: 0;
  margin-right: 24px;
}

.list-inline li {
  margin-left: 8px;
}

.list-inline li:first-child {
  margin-left: 0;
}
