form input {
    background: #FAFCFF;
    color: #51D0EF;
    padding-left:40px;
    display:block;
    border: 1px solid #F3F5F8;
    width: 210px;
    margin-left:10px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
}

input:focus{
    outline: none;
    color: #51D0EF;
    border-bottom: 1px solid #51D0EF;
    transition: ease-in-out, 0.5s ease-in-out;
}

input:focus + .lnr{
    outline: none;
    color: #51D0EF;
    transition: ease-in-out, 0.5s ease-in-out;
}

.sub_container{
    padding-bottom: 30px;
}


.lnr {
    display: block;
    fill: currentColor;
    color: #8493A8;
    width: 1em;
    height: 1em;
    vertical-align: -0.3em;
    margin-top: -55px;
    margin-left: 20px;
}

.lnr-chevron-down {
    font-size: 20px;
}

.sub_container p {
    display: inline-block;
}

form div:nth-child(4) {
    margin-top:-20px;
}

.left_placeholder {
    margin-left:12px;
    width: 85px;
    height: 10px;
    border-top: 1px solid #F3F5F8;
    border-left: 1px solid #F3F5F8;
}

.middle_placeholder{
    position: absolute;
    font-family: Roboto;
    color:#8493A8;
    font-size: 10px;
    padding: 0 12px;
}

.right_placeholder {
    margin-left:74px;
    width: 85px;
    height: 10px;
    border-top: 1px solid #F3F5F8;
    border-right: 1px solid #F3F5F8;
}

#month{
    margin-left:10px;
}
select {
    width: 80px;
    text-align-last:center;
    font-size:10px;
    color: #8493A8;
    padding: 0px 35px 5px 5px;
    margin-left: 2px;
    border: 1px solid #F3F5F8;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./lnr-chevron-down.svg) 83% / 10% no-repeat #FAFCFF;
}

select:focus{
    outline: none;
    color: #51D0EF;
    border-bottom: 1px solid #51D0EF;
    transition: ease-in-out, 0.5s ease-in-out;
}

.birthday p {
    display:inline;
}

.birthday select {
    display:inline;

}

.button {
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    background-color: #c3ced9;
    color: #ffffff;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    font-size: 100%;
    font-family: inherit;
    line-height: 1.5;
    padding: 12px 32px;
    border-radius: 4px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.button:hover {
    background-color: #b0bcc7;
}

/* Colors */
.button-blue {
    background-color: #51d0ef;
    color: #ffffff;
}

.button-blue:hover {
    background-color: #48bfdc;
}

.sub_container button {
    width: 253px;
    margin-left:10px;
    height: 34px;
    line-height: 0.8;
    font-size: 12px;

}