/**
 * FORM
 */

/* Default */
.form {
    display: block;
    margin-bottom: 12px;
}

.form-fieldset {
  display: block;
  position: relative;
  margin: 0;
  padding: 6px 0 0;
  border: 0;
  border-top: 1px solid #c3ced9;
}

.form-fieldset:before,
.form-fieldset:after {
  position: absolute;
  content: '';
  top: 6px;
  width: 1px;
  height: 8px;
  background-color: #c3ced9;
}

.form-fieldset:before {
  left: 0;
}

.form-fieldset:after {
  right: 0;
}

.form-legend {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  color: #acb6bf;
  margin-bottom: 12px;
}

.form-field {
  position: relative;
  margin-bottom: 12px;
}

/* Hide only visually, but have it available for screenreaders. */
.form-label-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.form-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  fill: #76818c;
}

.form-input {
  display: block;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  color: #58616b;
  padding: 12px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #c3ced9;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-icon + .form-input {
  padding-left: 40px;
}

.form-input:focus {
  border-color: #51d0ef;
  box-shadow: 0 0 8px rgba(81, 208, 239, 0.5);
  outline: none;
}

.form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #acb6bf;
}

.form-input::-moz-placeholder { /* Firefox 19+ */
  color: #acb6bf;
}

.form-input:-ms-input-placeholder { /* IE 10+ */
  color: #acb6bf;
}

.form-input:-moz-placeholder { /* Firefox 18- */
  color: #acb6bf;
}

.form-select {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMTQgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDE0IDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0FDQjZCRiIgZD0iTTUxMiwxNjIuNmMwLDUuNC0xLjgsOS01LjQsMTIuNUwyNjguNSw0MTMuMmMtMy42LDMuNi05LDUuNC0xMi41LDUuNHMtOS0xLjgtMTIuNS01LjRMNS40LDE3NS4xDQoJQzEuOCwxNzEuNSwwLDE2OCwwLDE2Mi42YzAtMy42LDEuOC03LjIsNS40LTEwLjdMMzIuMiwxMjVjMS44LTEuOCw3LjItMy42LDEwLjctMy42YzUuNCwwLDksMS44LDEyLjUsMy42TDI1NiwzMjcuM0w0NTYuNSwxMjUNCgljMy42LTEuOCw3LjItMy42LDEyLjUtMy42YzMuNiwwLDksMS44LDEwLjcsMy42bDI2LjksMjYuOUM1MTAuMiwxNTUuNCw1MTIsMTU5LDUxMiwxNjIuNnoiLz4NCjwvc3ZnPg0K');
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: 90% center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-group {
  display: flex;
}

.form-group .form-field {
  flex: 1;
  margin-right: 12px;
}

.form-group .form-field:last-child {
  margin-right: 0;
}
