/**
 * TYPOGRAPHY
 */

/* Default body text styles */
body {
  font-family: 'Karla', 'Helvetica Neue', Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f3f5f8;
  color: #76818c;
  overflow-x: hidden;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  color: #1e2226;
}

h1 {
  font-size: 32px;
}

/* Specify the font for code display */
code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, "Liberation Mono", Courier, monospace;
}
