/* this tabs class is an ul element */
* {
	font-family: sans-serif;
	box-sizing: border-box;
}

.tabs {
  width: 625px;
  float: none;
  list-style: none;
  position: relative;
  /* scrooge the tabs to the left all the way */
  margin: 0;
  padding: 0;
}

/* to hide the radio button */
.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* for horizontal tabs, to keep it inline */
.tabs li {
  float: left;
}

/* style the tab labels, First Tab, Second Tab, etc */
.tabs label {
    display: block;
    padding: 14px 22px;
    border-radius: 2px 2px 2px 2px;
    color: grey;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    background-color: #eee;
    margin-right: 2px;
    text-transform: uppercase;
}

/* effect when you hover over the label */
.tabs label:hover {
  /*background: red;*/
  color: #08c;
  /*top: 0;*/
}

/* effect after you select a tab */
[id^=tab]:checked + label {
  background: white;
  color: #08c;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

/* display the div block content of selected tab */
[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}

/* style of the content */
.tab-content{
  z-index: 2;
  display: none;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  background: #fff;
  border: 2px solid #eee;
  color: black;
  position: absolute;
  top: 50px;
  left: 0;
  box-sizing: border-box;
  padding: 15px;
}

.left-floater {
	float: left;
}

.w195 {
	width: 195px;
}

.w395 {
	width: 395px;
}

.tab-footer {
	clear: both;
}

img {
	margin-top: 22px;
	margin-left: 30px;
}

.tabs h3 {
	text-transform: uppercase;
}

p {
	font-size: 17px;
}

a {
	padding: 5px;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 5px;
	text-decoration: none;
	margin-left: 195px;
	color: white;
	background-color: #08c;
}